<div class="container">
    <section class="servicecontainer">
        <div class="row center-align">

            <h3>What we do</h3>
            <div class="col l4 m4 s12">
                <div class="z-depth-5 cardContainer">
                    <div class="card servicescard">
                        <div class="card-image">

                            <i class="large material-icons" style="color: #DFC4B3; margin-top:25px">cake</i>
                        </div>
                        <div class="card-content">
                            <h4>Cakes</h4>
                            <p>We bake the best cakes in ghana.Any kind of design we will bake it for you </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col l4 m4 s12">
                <div class="z-depth-5 cardContainer">
                    <div class="card servicescard">
                        <div class="card-image">

                            <i class="large material-icons" style="color: #DFC4B3; margin-top:25px">cake</i>
                        </div>
                        <div class="card-content">
                            <h4>Local beverages</h4>
                            <p>we are into local beverages such as aliha,solom,bruktu etc. </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col l4 m4 s12">
                <div class="z-depth-5 cardContainer">
                    <div class="card servicescard">
                        <div class="card-image">

                            <i class="large material-icons" style="color: #DFC4B3; margin-top:25px">donut_large</i>
                        </div>
                        <div class="card-content">
                            <h4>Pastries</h4>
                            <p>We do all kinds of pastries. Let us take care of your next order</p>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </section>
    <section class="servicecontainer">
        <div class="row center-align">
            <h3>Packages</h3>
            <div class="col l4 m4 s12">
                <div class="z-depth-5 cardContainer">
                    <div class="card servicescard">
                        <div class="card-image">

                            <i class="large material-icons" style="color: #DFC4B3; margin-top:25px">cake</i>
                        </div>
                        <div class="card-content">
                            <h4> Cakes</h4>
                            <p>Ghc300 - above</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col l4 m4 s12">
                <div class="z-depth-5 cardContainer">
                    <div class="card servicescard">
                        <div class="card-image">

                            <i class="large material-icons" style="color: #DFC4B3; margin-top:25px">donut_large</i>
                        </div>
                        <div class="card-content">
                            <h4>Local beverages</h4>
                            <p>Ghc300-above</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col l4 m4 s12">
                <div class="z-depth-5 cardContainer">
                    <div class="card servicescard">
                        <div class="card-image">

                            <i class="large material-icons" style="color: #DFC4B3; margin-top:25px">money</i>
                        </div>
                        <div class="card-content">

                            <h4>pastries</h4>
                            <p>custom-price</p>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="whyorder">
        <div class="center-align container">
            <h3>Why Order from Us</h3>
            <div>
                <p>I am a very simple card. I am good at containing small
                    bits
                    of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </section>
    <section class="clientsay">
        <div class="center-align container">
            <h3>What Clients Say</h3>
            <div class="carousel">
                <div class="carousel-item" href="#one!">
                    <div class="z-depth-5">
                        <div class="card carouselcard">
                            <div class="card-image">
                                <img class="circle responsive-img" src="/img/person.jpg" alt="img" />
                                <span class="card-title black-text">Name</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="carousel-item" href="#two!">
                    <div class="card carouselcard">
                        <div class="card-image">
                            <img class="circle responsive-img" src="/img/person.jpg" alt="img" />
                            <span class="card-title black-text">Name</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>

                    </div>
                </div>
                <div class="carousel-item" href="#three!">
                    <div class="card carouselcard">
                        <div class="card-image">
                            <img class="circle responsive-img" src="/img/person.jpg" alt="img" />
                            <span class="card-title black-text">Name</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>

                    </div>
                </div>
                <div class="carousel-item" href="#four!">
                    <div class="card carouselcard">
                        <div class="card-image">
                            <img class="circle responsive-img" src="/img/person.jpg" alt="img" />
                            <span class="card-title black-text">Name</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>
</div>