<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rene Cakes </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Courgette|Dancing+Script|Livvic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/353c6e4283.js" crossorigin="anonymous"></script>
</head>

<body class=" landing">
    <div class="Header">

        <header class="container" style="margin-top: 1rem;">
            <nav class="z-depth-0 navbar">
                <div class="nav-wrapper">
                    <a href="#!" class=" navbrand ">ReneCakes</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down navitem">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/works">Works</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/works">Works</a></li>
            </ul>

            <div class="row welcomeIntro">
                <div class="col l7 m7 s12  " id="introcontainer">
                    <h4 class="red-text">{{message}}</h4>
                    <h3 class="welcome">Welcome to Rene Cakes</h3>
                    <p style="margin-bottom: 20px;">It is a long established fact that a reader will be distracted by
                        the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page </p>
                    <div class="">
                        <a class="waves-effect waves-light btn  btn-large orderbtn" href="/order"
                            style="background-color: #eca274;">Place
                            Order</a>
                    </div>
                </div>
                <div class="col l5 m5 s0 center-align imgcontainer">
                    <div class=" center-align" style="display: flex;">

                        <img class="introimg " src="/img/cake.svg" alt="cake">


                    </div>
                </div>
            </div>
        </header>

    </div>
    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</body>

<footer class="page-footer footercontainer">
    <div class="container">
        <div class="row">

            <div class="col l6 s12">
                <h5 class="white-text">Subscribe to Our Newsletter</h5>
                <form action="/newsletter/add" method="POST">
                    <div class="row">
                        <div class="input-field col s8">
                            <i class="material-icons prefix">email</i>
                            <input id="email" name="email" type="email" class="validate" required="true">
                            <label for="email">Email</label>

                        </div>
                        <div class="input-field col s4">
                            <button class="btn btn-floating btn-large waves-effect waves-light" type="submit">
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l4  s12 center-align">
                <h5 class="white-text">Let's get interactive</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-facebook"></i> facebook</i></a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-instagram"></i> Instagram</i></a>
                    <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-twitter"></i> Twitter</i></a>
                    <li><a class="grey-text text-lighten-3" href="#!"></a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            © 2020 Rene Cakes

        </div>
    </div>
</footer>

</html>