<div class="container">
    <div class="center-align">
        <p>Feel free to scroll through some of our works</p>
    </div>
    <div class="row">
        <div class="col l4 m4 s12">
            <img class="responsive-img" src="/img/cake.svg" alt="cake">
        </div>
        <div class="col l4 m4 s12">
            <img class="responsive-img" src="/img/cake.svg" alt="cake">
        </div>
        <div class="col l4 m4 s12">
            <img class="responsive-img" src="/img/cake.svg" alt="cake">
        </div>
        <div class="col l4 m4 s12">
            <img class="responsive-img" src="/img/cake.svg" alt="cake">
        </div>
    </div>
</div>